<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Game Fusion - Dashboard : Add Products</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/admin-assets/imgs/theme/favicon.svg}">
    <link th:href="@{/assets/admin-assets/css/main.css}" rel="stylesheet" type="text/css" />



</head>
<body>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="#" class="brand-wrap">
            <img th:src="@{/assets/admin-assets/imgs/theme/New-logo.svg}" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard}">
                    <i class="icon material-icons md-home"></i><span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item  active">
                <a class="menu-link" th:href="@{/dashboard/view-products}">
                    <i class="icon material-icons md-shopping_bag"></i><span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-users}">
                    <i class="icon material-icons md-person"></i><span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-store"></i><span class="text">Sellers</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-categories}">
                    <i class="icon material-icons md-add_box"></i><span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-orders}">
                    <i class="icon material-icons md-shopping_cart md-monetization_on"></i><span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-pie_chart"></i><span class="text">Sales Report</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
            </li>
            <li class="nav-item">
                <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
            <li class="dropdown nav-item">
                <!--Profile -->
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" th:src="@{/assets/admin-assets/imgs/people/avatar-2-admin.png}" alt="User"></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                    <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                </div>
            </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <a th:href="@{/dashboard/view-products}" class="btn btn-md rounded font-sm hover-up">View
                            Products</a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row gx-5">
                            <aside class="col-lg-3 border-end">
                                <nav class="nav nav-pills flex-column mb-4">
                                    <a class="nav-link active" aria-current="page" href="#">General</a>
                                    <a class="nav-link" href="#">Images</a>
                                </nav>
                            </aside>
                            <div class="col-lg-9">
                                <section class="content-body p-xl-4">
                                    <!-- Form  -->
                                    <form method="post" th:action="@{/dashboard/add-product/save}" th:object="${NewProduct}">
                                        <div class="row mb-4">
                                            <label class="col-lg-3 col-form-label" for="name">Product name*</label>
                                            <div class="col-lg-9">
                                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                                    Name cannot be empty
                                                </span>
                                                <input type="text" th:field="*{name}" class="form-control" id="name"
                                                       name="name" placeholder="Type here">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-3 col-form-label">Description*</label>
                                            <div class="col-lg-9">
                                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                                                    Name cannot be empty
                                                </span>
                                                <textarea class="form-control" th:field="*{description}" name="description"
                                                          placeholder="Type here" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-5 col-form-label">Brand</label>
                                            <div class="col-lg-2"></div>
                                            <label class="col-lg-5 col-form-label">Category</label>
                                            <div class="col-lg-5">
                                                <!-- BRAND LOOP -->
                                                <span th:if="${#fields.hasErrors('brandId')}" th:errors="*{brandId}">
                                                    Name cannot be empty
                                                </span>
                                                <select size="5" th:field="*{brandId}" class="form-control select-multiple">
                                                    <option th:each="brand : ${brandList}" th:value="${brand.id}"
                                                            th:text="${brand.name}" name="brandId">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-5">
                                                <!-- CATEGORY LOOP -->
                                                <span th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">
                                                    Name cannot be empty
                                                </span>
                                                <select size="5" th:field="*{categoryId}" class="form-control select-multiple">
                                                    <option th:each="category : ${CategoryList}" th:value="${category.id}"
                                                            th:text="${category.name}" name="categoryId"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-6 col-form-label">Price*</label>
                                            <label class="col-lg-6 col-form-label">Quantity*</label>
                                            <div class="col-lg-6">
                                                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                                                    Name cannot be empty
                                                </span>
                                                <input type="number" th:field="*{price}" class="form-control"
                                                       placeholder="Unit Price" name="price">
                                            </div>
                                            <div class="col-lg-6">
                                                <span th:if="${#fields.hasErrors('qty')}" th:errors="*{qty}">
                                                    Name cannot be empty
                                                </span>
                                                <input type="number" th:field="*{qty}" class="form-control"
                                                       placeholder="Total Quantity" name="qty">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-3 col-form-label">Status</label>
                                            <div class="col-lg-9">
                                                <label class="form-check my-2">
                                                    <input type="checkbox" th:field="*{status}" class="form-check-input" checked="">
                                                    <span class="form-check-label">Enable this product </span>
                                                </label>
                                            </div>
                                        </div>
                                        <br>
                                        <button class="btn btn-primary" type="submit"> Continue to next</button>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script th:src="@{/assets/admin-assets/js/vendors/jquery-3.6.0.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/select2.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/jquery.fullscreen.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/main.js}" type="text/javascript"></script>
</body>
</html>