<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Game Fusion - Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/admin-assets/imgs/theme/favicon.svg}">
    <link th:href="@{/assets/admin-assets/css/main.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img th:src="@{/assets/admin-assets/imgs/theme/New-logo.svg}" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard}">
                        <i class="icon material-icons md-home"></i><span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard/view-products}">
                        <i class="icon material-icons md-shopping_bag"></i><span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard/view-users}">
                        <i class="icon material-icons md-person"></i><span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard/brands}">
                        <i class="icon material-icons md-store"></i><span class="text">Sellers</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard/view-categories}">
                        <i class="icon material-icons md-add_box"></i><span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard/view-orders}">
                        <i class="icon material-icons md-shopping_cart md-monetization_on"></i><span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="#">
                         <i class="icon material-icons md-pie_chart"></i><span class="text">Sales Report</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" th:href="@{/dashboard/view-coupons}">
                    <i class="icon material-icons md-local_offer"></i><span class="text">Coupons</span>
                </a>
            </li>
        </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <!--<header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" th:src="@{/assets/admin-assets/imgs/people/avatar-2-admin.png}" alt="User"></a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            <button type="submit" class="dropdown-item text-danger"><i class="material-icons md-exit_to_app"></i>Logout</button>
                        </form>
                    </li>
                    <li class="dropdown nav-item">
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Change Password</a>
                            <div class="dropdown-divider"></div>
                            <form th:action="@{/logout}" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                <button type="submit" class="dropdown-item text-danger"><i class="material-icons md-exit_to_app"></i>Logout</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </header>-->
        <th:block th:replace="~{Fragments/AdminFragments.html::main-header}"></th:block>

        <section class="content-main">
            <div class="content-header">
                <div><h2 class="content-title card-title">Sales Report</h2></div>
                <div><input type="text" placeholder="Search order ID" class="form-control bg-white"></div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class=" gx-3 d-flex flex-row align-items-center">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <form th:href="@{/dashboard/view-sales-report}">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="d-flex flex-column">
                                        <label><input type="number" name="StatusFilter" th:value="${StatusFilter}" hidden="hidden"></label>
                                        <label for="startDate">Start Date</label>
                                        <input class="form-control" type="date" id="startDate" name="startDate" min="2023-11-17"
                                               th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                               th:value="${StartDate != null} ? ${StartDate} : '2023-11-17'">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label for="endDate"> End Date</label>
                                        <input class="form-control" type="date" id="endDate" name="endDate" min="2023-11-17"
                                               th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                               th:value="${EndDate != null} ? ${EndDate} : ${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                    </div>
                                    <div class="d-flex flex-column align-items-baseline justify-content-end">
                                        <button type="submit" class="form-control">
                                            <i class="material-icons md-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 col-6 col-md-3"></div>
                        <div class="col-lg-3 col-6 col-md-3 ">
                            <form method="get" th:action="@{/dashboard/view-sales-report}">
                                <label>
                                    <input class="form-control" type="date" id="hidden-startDate" name="startDate" hidden="hidden"
                                           th:value="${StartDate != null} ? ${StartDate} : '2023-11-17'">
                                </label><label>
                                    <input class="form-control" type="date" id="hidden-endDate" name="endDate" hidden="hidden"
                                           th:value="${EndDate != null} ? ${EndDate} : ${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                </label>
                                <div class="d-flex flex-row">
                                    <label for="StatusFilter"></label>
                                    <select class="form-select border border-dark" id="StatusFilter" name="StatusFilter">
                                        <option value="0" th:selected="${StatusFilter} == 0">All Status</option>
                                        <option value="1" th:selected="${StatusFilter} == 1">Pending</option>
                                        <option value="2" th:selected="${StatusFilter} == 2">Shipped</option>
                                        <option value="3" th:selected="${StatusFilter} == 3">Delivered</option>
                                        <option value="4" th:selected="${StatusFilter} == 4">Cancel</option>
                                        <option value="5" th:selected="${StatusFilter} == 5">Returned</option>
                                    </select>
                                    <button class="border border-dark border-left-0 px-3" onclick="filter()">
                                        <i class="material-icons md-published_with_changes"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th class="text-start">#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody th:if="${OrderMainList} == null">
                                No Date Present
                            </tbody>
                        <!-- LOOP STARTS HERE-->
                            <tbody th:unless="${OrderMainList} == null" >
                            <tr th:each="order : ${OrderMainList.contents}">
                                <td><b th:text="${order.orderId}"></b> </td>
                                <td><b th:text="${order.user.firstName}+' '+${order.user.lastName}"></b></td>
                                <td><b th:text="${order.user.username}"></b></td>
                                <td><b th:text="${order.amount}"></b></td>
                                <td><b th:text="${order.date}"></b></td>
                                <td>
                                    <span class="h6 bold mt-2" th:text="${order.status}"></span>
                                </td>
                            </tr>
                            </tbody>
                        <!-- LOOP ENDS HERE-->
                        </table>
                    </div>
                </div>
            </div>
            <div class="mb-50 d-flex flex-row justify-content-between align-items-center">
                <!-- Pagination -->
                <div class="pagination-area">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li th:each="page, iterStat : ${#numbers.sequence(0, OrderMainList.totalPages - 1)}"
                                th:class="${page == OrderMainList.pageNo} ? 'page-item active' : 'page-item'"
                                class="page-item" >
                                <a class="page-link" th:text="${page + 1}"
                                   th:href="@{/dashboard/view-sales-report
                                            (pageNo = ${page}, pageSize = ${OrderMainList.pageSize},
                                            startDate = ${StartDate},endDate = ${EndDate} ,
                                            StatusFilter = ${StatusFilter})}">
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:if="${OrderMainList.hasNext}"
                                   th:href="@{/dashboard/view-sales-report
                                            (pageNo = ${OrderMainList.totalPages - 1}, pageSize = ${OrderMainList.pageSize},
                                            startDate = ${StartDate}, endDate =  ${EndDate},
                                            StatusFilter = ${StatusFilter})}">
                                    <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End of pagination -->
                <div th:unless="${StartDate} == null and ${EndDate} == null and ${StatusFilter} == 0">
                    <form th:action="@{/dashboard/view-sales-report}" method="get">
                        <button type="submit" class="form-control d-flex align-items-center">
                            <i class="material-icons md-cancel"></i>
                            <span class="ms-2">Remove all filter</span>
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script th:src="@{/assets/admin-assets/js/vendors/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/admin-assets/js/vendors/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/admin-assets/js/vendors/select2.min.js}"></script>
    <script th:src="@{/assets/admin-assets/js/vendors/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/admin-assets/js/vendors/jquery.fullscreen.min.js}"></script>
    <script th:src="@{/assets/admin-assets/js/main.js}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script th:src="@{/assets/js/AjaxFile.js}"></script>
</body>
</html>