<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Game Fusion - Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/admin-assets/imgs/theme/favicon.svg}">
    <link th:href="@{/assets/admin-assets/css/main.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        .hidden-row {
            display: none;
        }
    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img th:src="@{/assets/admin-assets/imgs/theme/New-logo.svg}" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashbord}">
                        <i class="icon material-icons md-home"></i><span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard/view-products}">
                        <i class="icon material-icons md-shopping_bag"></i><span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard/view-users}">
                        <i class="icon material-icons md-person"></i><span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-store"></i><span class="text">Sellers</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" th:href="@{/dashboard/view-categories}">
                        <i class="icon material-icons md-add_box"></i><span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-shopping_cart md-monetization_on"></i><span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-pie_chart"></i><span class="text">Sales Report</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" th:src="@{/assets/admin-assets/imgs/people/avatar-2-admin.png}" alt="User"></a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            <button type="submit" class="dropdown-item text-danger"><i class="material-icons md-exit_to_app"></i>Logout</button>
                        </form>
                    </li>
                    <!--Profile -->
                    <li class="dropdown nav-item">
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Change Password</a>
                            <div class="dropdown-divider"></div>
                            <form th:action="@{/logout}" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                <button type="submit" class="dropdown-item text-danger"><i class="material-icons md-exit_to_app"></i>Logout</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Update Order Status</h5>
                        <button type="button"  onclick="hideModal()"  class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:method="put" th:action="@{/dashboard/update-order-status}">
                        <div class="modal-body">
                            <span class="h5">Update status of the Order</span><br>
                            <label for="OrderID"></label>
                            <input type="number" id="OrderID" name="OrderID" hidden="hidden">
                            <label for="status"></label>
                            <select id="status" name="status" class="form-select">
                                    <option value="PENDING">Pending</option>
                                    <option value="SHIPPED">Shipped</option>
                                    <option value="DELIVERED">Delivered</option>
                                    <option value="CANCELED">Cancel</option>
                                    <option value="RETURNED">Returned</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="hideModal()" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- MODAL -->
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Manage Orders</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody th:each="order : ${OrderMainList.contents}">
                        <!-- LOOP STARTS HERE-->
                            <tr>
                                <td><b th:text="${order.orderId}"></b> </td>
                                <td><b th:text="${order.user.firstName}+' '+${order.user.lastName}"></b></td>
                                <td><b th:text="${order.user.username}"></b></td>
                                <td><b th:text="${order.amount}"></b></td>
                                <td><b th:text="${order.date}"></b></td>
                                <td>
                                    <span class="badge rounded-pill alert-secondary d-flex flex-row
                                                justify-content-between align-items-center">
                                         <span class="h6 bold mt-2">
                                            <span class="mx-3" th:if="${#strings.equals(order.status, 'PENDING')}" style="color: orange">
                                                Pending
                                            </span>
                                            <span class="mx-3" th:if="${#strings.equals(order.status, 'SHIPPED')}" style="color: yellowgreen">
                                                Shipped
                                            </span>
                                            <span class="mx-3" th:if="${#strings.equals(order.status, 'DELIVERED')}" style="color: green">
                                                Delivered
                                            </span>
                                            <span class="mx-3" th:if="${#strings.equals(order.status, 'CANCELED')}" style="color: red">
                                                Cancelled
                                            </span>
                                            <span class="mx-3" th:if="${#strings.equals(order.status, 'RETURNED')}" style="color: rosybrown">
                                                Returned
                                            </span>
                                        </span>
                                        <span class="badge rounded-pill alert-dark border border-dark">
                                            <a th:data-id="${order.id}"
                                               onclick="showModal(this.getAttribute('data-id'))">
                                                <i class="material-icons md-edit"></i>
                                            </a>
                                        </span>
                                    </span>
                                </td>
                                <td class="text-end">
                                    <a th:data-id="${order.id}"
                                       onclick="toggleHiddenRow(this,this.getAttribute('data-id'))"
                                       class="btn btn-md rounded font-sm toggle-detail">View Detail</a>
                                </td>
                            </tr>
                            <tr class="hidden-row"><td colspan="7" ></td></tr>
                        <!-- LOOP ENDS HERE-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <!-- PAGINATION-->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        <!--PAGINATION -->
        </section>
    </main>
    <script th:src="@{/assets/admin-assets/js/vendors/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/admin-assets/js/vendors/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/admin-assets/js/vendors/select2.min.js}"></script>
    <script th:src="@{/assets/admin-assets/js/vendors/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/admin-assets/js/vendors/jquery.fullscreen.min.js}"></script>
    <script th:src="@{/assets/admin-assets/js/main.js}" type="text/javascript"></script>
    <script>
        function showModal(id) {
            $('#OrderID').attr('value',id)
            $('#exampleModalLong').modal('show')
        }
        function hideModal() {
            $('#exampleModalLong').modal('hide')
        }
    </script>
    <script>
        function toggleHiddenRow(button, id) {


            let parentRow = button.closest('tr');
            let hiddenRow = parentRow.nextElementSibling;
            if (hiddenRow) {
                if(hiddenRow.style.display === 'none' || hiddenRow.style.display === '') {
                    fetch(`/dashboard/order-details?orderID=` + id, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            let orderDetails = data['DETAILS'];
                            let products = data['PRODUCTS'];
                            let detailsHTML = '<td colspan="7">';

                            orderDetails.forEach((detail, index) => {
                                detailsHTML +=
                                    `<div class="d-flex flex-row justify-content-between py-2">
                                            <div class="col-lg-1 d-flex justify-content-center"><h6>${index+1}</h6></div>
                                            <div class="col-lg-5 d-flex align-items-center">
                                                <h5 class="product-name d-flex flex-column justify-content-center">
                                                    <a href="#">
                                                        <span class="h5">${products[index].name}</span>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                                                <div>
                                                    <div><h5 class="h6 mb-2">Price : ${products[index].price}</h5></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                                                <div>
                                                    <div><h5 class="h6 mt-2">Quantity : ${detail.qty}</h5></div>
                                                </div>
                                            </div>
                                      </div>`;
                            });

                            detailsHTML += '</td>';

                            // Set the innerHTML of the hidden row
                            hiddenRow.innerHTML = detailsHTML;

                            })
                        .catch(error => {
                            alert('Error: ' + error.message);
                        });
                    hiddenRow.style.display = 'table-row';
                }
                else {
                    hiddenRow.style.display = 'none';
                }
            }
        }
    </script>
</body>
</html>