<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Game Fusion - Dashboard : Products</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/admin-assets/imgs/theme/favicon.svg}">
    <link th:href="@{/assets/admin-assets/css/main.css}" rel="stylesheet" type="text/css" />
    <script>
        function confirmRemove(form) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you want to Remove this product from users?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Remove',
                cancelButtonText: 'No, cancel',
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms, submit the form
                    form.submit();
                }
            });
        }
        function confirmRestore(form) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you want to Restore this product to users?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Restore',
                cancelButtonText: 'No, cancel',
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms, submit the form
                    form.submit();
                }
            });
        }
    </script>
</head>
<body>
<div class="screen-overlay"></div>
<!-- Side Nav -->
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="#" class="brand-wrap">
            <img th:src="@{/assets/admin-assets/imgs/theme/New-logo.svg}" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard}">
                    <i class="icon material-icons md-home"></i><span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item  active">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-shopping_bag"></i><span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-users}">
                    <i class="icon material-icons md-person"></i><span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-store"></i><span class="text">Sellers</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-categories}">
                    <i class="icon material-icons md-add_box"></i><span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-orders}">
                    <i class="icon material-icons md-shopping_cart md-monetization_on"></i><span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-pie_chart"></i><span class="text">Sales Report</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
<!-- End of Sive Nav -->
<main class="main-wrap">
    <!-- Header -->
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <!--Profile -->
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" th:src="@{/assets/admin-assets/imgs/people/avatar-2-admin.png}" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- Header Ends -->
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">ManageProducts</h2>
                <p>Add, Edit & Delete Products.</p>
            </div>
            <div>
                <a th:href="@{/dashboard/add-product}" class="btn btn-primary btn-sm rounded">Create new</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>All category</option>
                            <option>Electronics</option>
                            <option>Clothings</option>
                            <option>Something else</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Latest added</option>
                            <option>Cheap first</option>
                        </select>
                    </div>
                </div>
            </header>
            <div class="card-body">
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                    <!-- LOOP STARTS HERE -->
                    <div class="col" th:each="product : ${ProductPage.contents}">
                        <div class="card card-product-grid">
                            <a href="#" class="img-wrap">
                                <span th:if="${#lists.isEmpty(product.imageIds)}">
                                <img th:src="@{/assets/admin-assets/imgs/items/No-Image.png}" alt="No Image">
                                </span>
                                <span th:unless="${#lists.isEmpty(product.imageIds)}">
                                <img th:src="@{/images/{imgId}(imgId=${product.imageIds[0]})}" alt="Product Image" />
                                </span>
                            </a>
                            <div class="info-wrap">
                                <a href="#" class="title text-truncate font-xl" th:text="${product.name}"></a>
                                <div class="price mb-2 font-xxl" th:text="${'&#8377'+product.price}"></div>
                                <div class="price mb-2 font-xxl"
                                     th:style="${product.qty == 0 ? 'color: red;' : 'color: #5D6A82;'}"
                                     th:text="${product.qty == 0 ? 'Out Of Stock' : 'Quantity :'+ product.qty}"></div>
                                <div class="price mb-2">
                                    <span class="font-xxl"
                                          th:style="${product.status == true ? 'color: green;' : 'color: red;'}"
                                          th:text="${product.status == true ? 'Active' : 'In Active'}">
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <form th:method="put" th:action="@{/dashboard/delete-product}" onsubmit="return false;">
                                            <input type="hidden" name="id" th:value="${product.id}">
                                            <button th:if="${product.status == true}" onclick="confirmRemove(this.form)"
                                                    class="btn btn-lg font-lg rounded btn-outline-warning">Remove
                                            </button>
                                            <button th:if="${product.status != true}" onclick="confirmRestore(this.form)"
                                                    class="btn btn-lg font-lg rounded btn-brand">Restore
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-6">
                                        <form method="get" th:action="@{/dashboard/edit-product}" >
                                            <input type="hidden" name="id" th:value="${product.id}">
                                            <button class="btn btn-lg font-lg btn-light rounded">Edit</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- LOOP ENDS HERE -->
                </div>
            </div>
        </div>
        <!-- PAGINATION STARTS HERE -->
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item" th:each="page, iterStat : ${#numbers.sequence(0, ProductPage.totalPages - 1)}"
                        th:class="${page == ProductPage.pageNo} ? 'page-item active' : 'page-item'">
                        <a class="page-link"
                           th:href="@{/dashboard/view-products (pageNo=${page},pageSize=${ProductPage.pageSize})}"
                           th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item">
                        <a class="page-link" th:if="${ProductPage.hasNext}"
                           th:href="@{/dashboard/view-categories(pageNo=${ProductPage.totalPages - 1},pageSize=${ProductPage.pageSize})}">
                            <i class="material-icons md-chevron_right"></i>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <!-- PAGINATION ENDS HERE -->
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/assets/admin-assets/js/vendors/jquery-3.6.0.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/select2.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/jquery.fullscreen.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/main.js}" type="text/javascript"></script>
</body>
</html>