<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Game Fusion - Dashboard - Category management</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/admin-assets/imgs/theme/favicon.svg}">
    <link th:href="@{/assets/admin-assets/css/main.css}" rel="stylesheet" type="text/css" />
    <style>
        .container { display: flex; flex-direction: column;}
        .row { display: flex;}
        .column {flex: 1; padding: 10px; text-align: center;}
    </style>
</head>
<body>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="#" class="brand-wrap">
            <img th:src="@{/assets/admin-assets/imgs/theme/New-logo.svg}" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" th:href="@{/dashboard}">
                    <i class="icon material-icons md-home"></i><span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-products}">
                    <i class="icon material-icons md-shopping_bag"></i><span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-users}">
                    <i class="icon material-icons md-person"></i><span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/brands}">
                    <i class="icon material-icons md-store"></i><span class="text">Sellers</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-categories}">
                    <i class="icon material-icons md-add_box"></i><span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-orders}">
                    <i class="icon material-icons md-shopping_cart md-monetization_on"></i><span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" th:href="@{/dashboard/view-sales-report}">
                       <i class="icon material-icons md-pie_chart"></i><span class="text">Sales Report</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" th:href="@{/dashboard/purchase-report}">
                    <i class="icon material-icons md-bar_chart"></i><span class="text">Purchase Report</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" th:href="@{/dashboard/view-coupons}">
                    <i class="icon material-icons md-local_offer"></i><span class="text">Coupons</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
<main class="main-wrap">
    <th:block th:replace="~{Fragments/AdminFragments.html::main-header}"></th:block>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Coupon </h2>
                <p>Add, edit or delete a coupon</p>
            </div>
            <div>
                <a type="button" class="btn btn btn-primary" th:href="@{/dashboard/view-coupons}">Go Back</a>
            </div>
        </div>
        <!-- FORM FOR ADD NEW CATEGORY -->
        <div class="card" >
            <div class="card-body">
                 <div class="container mt-4">
                     <h4>Add New Coupon</h4><hr>
                        <form th:method="put" th:action="@{/dashboard/edit-coupon/update}" th:object="${Coupon}" onsubmit="return false" id="add-coupon-form">
                            <input type="hidden" th:field="*{id}">
                             <div class="">
                                 <div class="container">
                                     <div class="row row-cols-2">
                                         <div class="col p-3">
                                             <label for="minimum-amount"><span>Minimum Amount</span></label><br>
                                             <input class="form-control border border-dark rounded" id="minimum-amount" name="minimumAmount"
                                                    type="number" placeholder="Minimum Amount Eligible for discount" th:field="*{minimumAmount}">
                                                 <span style="color : red" th:if="${#fields.hasErrors('minimumAmount')}" th:errors="*{minimumAmount}">Amount cannot be empty</span>
                                         </div>
                                         <div class="col p-3">
                                             <label for="discount"><span>Discount</span></label><br>
                                             <input class="form-control border border-dark rounded" type="number" id="discount" name="discount" placeholder="Discount" th:field="*{discount}">
                                             <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" style="color: red;">discount cannot be empty</span>
                                         </div>
                                         <div class="col p-3">
                                             <label for="expiry-date"><span>Expiry Date</span></label> <br>
                                             <input class="form-control border border-dark rounded text-center"  type="date"
                                                    id="expiry-date" name="expiryDate" th:field="*{expiryDate}">
                                             <span th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}" style="color: red;">Expiry Date cannot be empty</span>
                                         </div>
                                         <div class="col p-3">
                                             <label for="couponCode">Coupon Code</label>
                                             <div class="d-flex justify-content-center">
                                                 <input type="text" id="couponCode" value="" name="couponCode"
                                                        class="form-control border border-dark rounded text-center"
                                                        th:field="*{couponCode}" placeholder="Generate Coupon Code" disabled>
                                                 <span th:if="${#fields.hasErrors('couponCode')}" th:errors="*{couponCode}" style="color: red;">Coupon Code cannot be empty</span>
                                                 <a id="generate-coupon" class="btn btn-outline-dark">
                                                     <i class="material-icons md-refresh"></i>
                                                 </a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                             </div>
                             <div class="row">
                                 <div class="column"></div>
                                 <div class="column">
                                     <button type="submit" id="form-submit" class="btn btn btn-primary mt-2">Submit</button>
                                 </div>
                                 <div class="column"></div>
                             </div>
                        </form>
                 </div>
            </div>
        </div>
    </section>
</main>
<script th:src="@{/assets/admin-assets/js/vendors/jquery-3.6.0.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/select2.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/admin-assets/js/vendors/jquery.fullscreen.min.js}"></script>
<script th:src="@{/assets/admin-assets/js/main.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/AjaxFile.js}"></script>
<script>
    $('#generate-coupon').on('click',function (event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: '/dashboard/generate-coupon-code',
            success: function(data) {
                document.getElementById('couponCode').value = data
            },
            error: function() {
                alert("Sorry!! We cant create Coupon code Now, Try again..")
                console.log('Error fetching user data');
            }
        });
    });
    $('#form-submit').on('click', function (event) {
        event.preventDefault();
        let couponCodeValue = $('#couponCode').val();
        $('<input>').attr({
            type: 'hidden',
            name: 'couponCode',
            value: couponCodeValue
        }).appendTo('#add-coupon-form');
        document.getElementById('add-coupon-form').submit();
    });
</script>
<script th:src="@{/assets/admin-assets/js/OrderCancelNotification.js}"></script>
</body>
</html>