<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
<body>
    <div th:replace="~{Fragments/UserFragments.html::header}"> </div>
    <div th:replace="~{Fragments/UserFragments.html::mobile-view}"></div>

    <!-- REFERRAL MODAL -->
    <div class="modal fade" id="referralModal" tabindex="-1" aria-labelledby="referralModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="p-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="h3 bold">Share</span>
                            <div class="dot d-flex justify-content-center align-items-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="py-2">Invite friends to get 201<br>Invite friends to Game Fusion and get ₹201. They get *21!</div>
                        <div>
                            <span class="h6 bold">Invite Link</span>
                            <div class="border rounded d-flex flex-row align-items-center mt-2">
                                <label for="referral-link"></label>
                                <input id="referral-link" type="text" class="form-control border border-0"
                                       placeholder="Get Referral link from here" disabled>
                                <button class="btn" onclick="copyToClipBoard()"><i></i>copy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- REFERRAL MODAL -->

    <main class="main">
        <div th:replace="~{Fragments/UserFragments.html::banner-slider}"></div>
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <li><a th:href="@{User/shop-grid-right.html}">CATEGORY LIST</a></li>
                            </ul>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                            <ul class="categories">
                                <li><a th:href="@{User/shop-grid-right.html}">Price: Low to High</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">Price: High to Low</a></li>
                            </ul>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                            <ul class="categories">
                                <li><a th:href="@{User/shop-grid-right.html}">$0-$200</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">$200-$400</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">$400-$600</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">$600-$800</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">800$+</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--PRODUCTS STARTS-->
                    <div class="col-lg-9" >
                        <div class="tab-content wow fadeIn animated" id="myTabContent" >
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                 aria-labelledby="tab-one" >
                                <!-- PRODUCT LOOP -->
                                <div class="row product-grid-4" >
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6" th:each="product : ${ProductPage.contents}">
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a th:href="@{/user/view-product/{id}(id=${product.id})}">
                                                        <span th:if="${#lists.isEmpty(product.imageIds)}">
                                                            <img th:src="@{/assets/admin-assets/imgs/items/No-Image.png}" alt="No Image">
                                                        </span>
                                                        <span th:unless="${#lists.isEmpty(product.imageIds)}">
                                                            <img class="default-img" th:src="@{/images/{imgId}(imgId=${product.imageIds[0]})}" alt="">
                                                            </span>
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" th:href="@{User/shop-wishlist.html}"><i class="fi-rs-heart"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a ></a>
                                                </div>
                                                <a th:href="@{/user/view-product/{id}(id=${product.id})}">
                                                    <h2 th:text="${product.name}" class="two-line-ellipsis"></h2>
                                                </a>

                                                <!--RATING -->
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                      </span>
                                                </div>
                                                <!--RATING END-->
                                                <div class="product-price">
                                                    <span th:text="'&#8377' +${product.discountPrice}"></span>
                                                    <span  th:if="${product.price != product.discountPrice}"
                                                           class="old-price" th:text="'&#8377' +${product.price}">
                                                    </span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <button aria-label="Add To Cart"  th:data-id="${product.id}"
                                                            th:onclick="addToCart(this.getAttribute('data-id'))"
                                                            class="action-btn hover-up" ><i class="fi-rs-shopping-bag-add"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- PRODUCT LOOP ENDS HERE-->
                            </div>
                        </div>
                        <!--PRODUCTS ENDS HERE -->
                    </div>
                </div>
            </div>
        </section>
        <!-- CATEGORY LIST SECTION-->
        <section class="popular-categories section-padding mt-15">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <!-- CATEGORY NAME LOOP -->
                        <div class="card-1 ribb" th:each=" category : ${CategoryList}">
<!--                            <img th:if="${category.id}%2 == 0" id="category-offer-img-banner"-->
<!--                                 th:src="@{/assets/imgs/banner/offer-banner.png}" alt="">-->
                           <a th:href="@{/user/category-filter/{categoryId}(categoryId = ${category.id})}">
                               <h5 th:text="${category.name}"></h5>
                           </a>
                        </div>
                        <!-- CATEGORY NAME LOOP ENDS HERE -->
                    </div>
                </div>
            </div>
        </section>
        <!-- BRANDS LIST SECTION  -->
        <section class="section-padding">
            <div class="container pb-20">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <div class="brand-logo">
                            <img class="img-grey-hover" th:src="@{/assets/imgs/banner/brand-1.png}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div th:replace="~{Fragments/UserFragments.html::feature-list}"></div>
    </main>
    <div th:replace="~{Fragments/UserFragments.html::footer}"></div>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/assets/js/AjaxFile.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/shop.js}"></script>
    <script>
        function addToCart(productId) {
            alertify.set('notifier', 'position', 'top-center');
            $.ajax({
                type: 'GET',
                url: '/add-to-cart?ProductId=' + productId,
                success: function(data) {
                    if (data) alertify.success('Product successfully added to cart');
                    else alertify.error("Something went wrong!!")
                },
                error: function(error) {
                    alertify.error("Something went wrong!!!")
                    console.log('Error fetching user data'+error);
                }
            });
        }
    </script>
</body>
</html>