<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
<style>
    div img {
        max-width: 40%;
        height: auto;
        border: 2px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    a:hover { text-decoration: none;color: inherit;}
    .product-detail span{ font-weight: bolder;}
</style>
<body>
<th:block th:replace="~{Fragments/UserFragments.html::header}"></th:block>
<th:block th:replace="~{Fragments/UserFragments.html::referral-modal}"></th:block>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="#" rel="nofollow">Home</a>
                <span></span> Profile
                <span></span> My Orders
            </div>
        </div>
    </div>

    <section class="section-padding footer-mid"
             th:if="${OrderMain} == null or ${Products} == null or ${Payment} == null or ${Address} == null">
        <div class="container d-flex justify-content-center">
            <div class="d-flex flex-column">
                <h3> No orders 🥺, Place your first Order 🎉</h3>
                <a class="btn btn-success-light hover-up">Continue Shopping</a>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class=" p-1 hover-up text-hover-grey-5"  th:each="order : ${OrderMain}">
                <a class="row" th:href="@{/order-details(orderId=${order.id})}">
                    <div class="login_wrap widget-taber-content bg-white px-5 py-3 background-white border-radius-5 border col-10  row">
                        <div class="row product-detail" th:each="product : ${Products.get(order.id)}">
                            <div class="col-3"><img th:src="@{/images/{imageId}(imageId=${product.product.images[0].id})}" alt="Product Image"></div>
                            <div class="col-6"><span th:text="${product.product.name}"></span></div>
                            <div class="col-3"><span th:text="'₹' + ${#numbers.formatDecimal(product.product.price, 0, 'COMMA', 2, 'POINT')}+' x '+${product.qty}"></span></div>
                        </div>
                    </div>
                    <div class="py-3 col-2 login_wrap widget-taber-content bg-white background-white border border-start-0 border-radius-5">
                    <div th:unless="${Payment.get(order.id).paymentStatus}" class="p-2 border border-radius-5 border-brand d-flex flex-column justify-content-center align-items-center">
                        <span class="pb-2 fw-bolder">Payment is Pending...</span>
                        <label><input type="number" id="order-id" th:value="${order.id}" hidden="hidden"></label>
                        <button id="pay-now-btn" class="btn btn-outline-success d-flex center_icon">
                            <i class="material-icons md-payment pe-2"></i><span>Pay Now</span>
                        </button>
                    </div>
                    <div th:if="${Payment.get(order.id).paymentStatus}">
                        <div class="p-2 border border-radius-5 border-brand d-flex flex-column justify-content-center align-items-center">
                        <span class="py-1 text-brand fw-bolder" th:text="${order.orderId}"></span>
                        <span class="py-1 fw-bolder" th:text="'Order placed on '+${#dates.format(order.date,'dd-MMM-yy')}"></span>
                        <!--CURRENT ORDER STATUS-->
                        <span class="mx-3" th:if="${#strings.equals(order.status, 'PENDING')}" style="color: orange">Order Placed</span>
                        <span class="mx-3" th:if="${#strings.equals(order.status, 'REQUEST_REPLACE')}" style="color:orange">Requested for Replacement</span>
                        <span class="mx-3" th:if="${#strings.equals(order.status, 'REQUEST_CANCEL')}" style="color:orange">Requested for Cancel</span>
                        <span class="mx-3" th:if="${#strings.equals(order.status, 'SHIPPED')}" style="color: yellow">Shipped</span>
                        <span class="mx-3" th:if="${#strings.equals(order.status, 'DELIVERED')}" style="color: green">Delivered</span>
                        <span class="mx-3" th:if="${#strings.equals(order.status, 'CANCELED')}" style="color: red">Cancelled</span>
                        <span class="mx-3" th:if="${#strings.equals(order.status, 'RETURNED')}" style="color: rosybrown">Returned</span>
                        <!--CURRENT ORDER STATUS ENDS-->
                        <!--PAYMENT METHOD-->
                        <span class="font-weight-bolder text-dark p-1" th:if="${#strings.equals(order.paymentMethod,'CASH_ON_DELIVERY')}">
                            Cash On Delivery
                        </span>
                        <span class="font-weight-bolder text-dark p-1" th:if="${#strings.equals(order.paymentMethod,'ONLINE_PAYMENT')}">
                            UPI
                        </span>
                        <span class="font-weight-bolder text-dark p-1" th:if="${#strings.equals(order.paymentMethod,'WALLET_PAYMENT')}">
                            Wallet Payment
                        </span>
                        <!--PAYMENT METHOD ENDS-->
                        <h3 class="py-1" th:text="'₹' + ${#numbers.formatDecimal(order.amount, 0, 'COMMA', 2, 'POINT')}"></h3>
                    </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </section>
</main>
    <th:block th:replace="~{Fragments/UserFragments.html::footer}"></th:block>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/assets/js/AjaxFile.js}"></script>
    <script th:src="@{/assets/js/shop.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script>
        $('#pay-now-btn').on('click',function (e){
            e.stopPropagation()
            e.preventDefault()
            window.location.href='/online-payment?orderId='+$('#order-id').val()
        })
    </script>
</body>
</html>