<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
<body>
<th:block th:replace="~{Fragments/UserFragments.html::header}"></th:block>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="#" rel="nofollow">Home</a>
                <span></span> Profile
                <span></span> My Orders
            </div>
        </div>
    </div>
    <section class="section-padding footer-mid container">
        <div><h2 class="my-4">My Wallet</h2></div>
        <div th:class="${Balance} > 0 ? 'btn btn-success-light p-4 d-flex justify-content-start' :
                        'btn btn-warning-light p-4 d-flex justify-content-start'" style="width: 100%">
            <div>
                <span th:text="${Balance} > 0 ?'&#8377 '+${#numbers.formatDecimal(Balance, 0, 'COMMA', 2, 'POINT')} : '&#8377 '+0.00"  class="h1"></span><br>
                <span class="h6">Current Wallet Balance</span>
            </div>
        </div>
        <div><h4 class="my-4">Transaction History</h4></div>
        <div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Date and Time </th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Transaction Type</th>
                </tr>
                </thead>
                <tbody th:if="${TransactionHistory} != null">
                    <tr th:class="${transaction.transactionType}=='Credit'?'table-success':
                                'table-danger'" th:each="transaction : ${TransactionHistory}">

                        <th scope="row"><span th:text="${transaction.id}"></span></th>
                        <td><span th:text="${transaction.dateTime}"></span></td>
                        <td><span th:text="${transaction.description}"></span></td>
                        <td><span th:text="${transaction.amount}"></span></td>
                        <td><span th:text="${transaction.transactionType}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
<th:block th:replace="~{Fragments/UserFragments.html::footer}"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.elevatezoom.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
<script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
<script th:src="@{/assets/js/plugins/select2.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
<script th:src="@{/assets/js/plugins/waypoints.js}"></script>
<script th:src="@{/assets/js/plugins/counterup.js}"></script>
<script th:src="@{/assets/js/plugins/scrollup.js}"></script>
<script th:src="@{/assets/js/plugins/isotope.js}"></script>
<script th:src="@{/assets/js/plugins/slick.js}"></script>
<script th:src="@{/assets/js/plugins/wow.js}"></script>
<script th:src="@{/assets/js/AjaxFile.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/shop.js}"></script>
</body>
</html>