<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
<body>
    
    <div th:replace="~{Fragments/UserFragments.html::header}"> </div>
    <div th:replace="~{Fragments/UserFragments.html::mobile-view}"></div>
    <th:block th:replace="~{Fragments/UserFragments.html::referral-modal}"></th:block>

    <main class="main">
        <section class="mt-10 mb-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-center">
                        <label for="image"></label>
                        <img id="image" th:src="@{/assets/imgs/theme/change-password-removebg-preview.png}" alt="forget-password">
                    </div>
                    <div class="col-lg-6 d-flex justify-content-center align-items-center row">
                        <form method="post" th:action="@{/forget-password/verify}" >
                            <div class="col-lg-10 login_wrap widget-taber-content bg-white background-white
                                        border-radius-5 container-fluid content p-4 d-flex flex-column center_icon">
                                <h3 class="mb-3">Forget Password</h3>
                                <h5 class="mb-3">Enter your Email for OTP Verification.</h5>
                                <label for="email" class="mb-2"></label>
                                <input type="email" name="username" id="email" class="mb-3">
                                <button type="submit" name="submit" id="submit" class="btn btn-primary">
                                    <i class="material-icons md-mail"></i> Sent OTP
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-10 mb-10">
            <div th:insert="~{Fragments/UserFragments.html::feature-list}"></div>
        </section>
    </main>
    <div th:replace="~{Fragments/UserFragments.html::footer}"></div>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/shop.js}"></script>
    <script th:src="@{/assets/js/AjaxFile.js}"></script>
</body>
</html>