<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
  <body>
  <th:block th:replace="~{Fragments/UserFragments.html::header}"></th:block>
    <main class="main">
      <div class="page-header breadcrumb-wrap">
        <div class="container">
          <div class="breadcrumb">
            <a th:href="@{User/index.html}" rel="nofollow">Home</a>
            <span></span> Pages <span></span> OTP Verification
          </div>
        </div>
      </div>
      <section class="pt-150 pb-150">
        <div class="container">
          <div class="col-lg-10 m-auto">
            <div class="col-lg-5">
              <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                <div class="padding_eight_all bg-white">

                  <div class="heading_s1">
                    <h3 class="mb-30">OTP Verification</h3>
                  </div>
                  <form th:action="@{/user/verify-otp}" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                      <p>OTP has been sent via Email to</p>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group">
                      <label for="username"></label>
                      <input type="text" name="username" id="username" th:value="${username}" hidden="hidden">
                    </div>
                    <div class="form-group">
                      <label for="otpField"></label>
                      <input type="text" name="otp" id="otpField" placeholder="Enter Verification Code"/>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-fill-out btn-block hover-up" name="submit">Verify</button>
                      <a class="btn btn-fill-out btn-block hover-up" th:href="@{/resent-otp}">Resent OTP</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center">
            <h5 class="mb-5">Now Loading</h5>
            <div class="loader">
              <div class="bar bar1"></div>
              <div class="bar bar2"></div>
              <div class="bar bar3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
        function validateForm() {
          let otpValue = document.getElementById("otpField").value;
          if (otpValue.trim() === "") {
            alert("OTP field cannot be empty");
            return false;
          }
          return true;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
      <script th:src="@{/assets/js/AjaxFile.js}"></script>
  </body>
</html>
