<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
<body>
    
    <div th:replace="~{Fragments/UserFragments.html::header}"></div>
    <div th:replace="~{Fragments/UserFragments.html::mobile-view}"></div>
    <main class="main">
        <!--PRODUCTS STARTS-->
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <!--SIDE FILTER STARTS-->
                    <div class="col-lg-3">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                            <ul class="categories">
                                <li><a th:href="@{User/shop-grid-right.html}">Price: Low to High</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">Price: High to Low</a></li>
                            </ul>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                            <ul class="categories">
                                <li><a th:href="@{User/shop-grid-right.html}">$0-$200</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">$200-$400</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">$400-$600</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">$600-$800</a></li>
                                <li><a th:href="@{User/shop-grid-right.html}">800$+</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--SIDE FILTER ENDS-->
                    <!--PRODUCT DIV STARTS-->
                    <div class="col-lg-9" >
                        <div class="tab-content wow fadeIn animated" id="myTabContent" >
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                 aria-labelledby="tab-one" >
                                <!-- PRODUCT LOOP -->
                                <div th:if="${ProductDetails == null}">
                                    No Product in this category
                                </div>
                                <div class="row product-grid-4" >
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6" th:if="${ProductDetails != null}"
                                         th:each="product : ${ProductDetails.contents}">
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a th:href="@{/user/view-product/{id}(id=${product.id})}">
                                                        <span th:if="${#lists.isEmpty(product.imageIds)}">
                                                            <img th:src="@{/assets/admin-assets/imgs/items/No-Image.png}" alt="No Image">
                                                        </span>
                                                        <span th:unless="${#lists.isEmpty(product.imageIds)}">
                                                            <img class="default-img" th:src="@{/images/{imgId}(imgId=${product.imageIds[0]})}" alt="">
                                                            </span>
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" th:href="@{User/shop-wishlist.html}"><i class="fi-rs-heart"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a ></a>
                                                </div>
                                                <a th:href="@{/user/view-product/{id}(id=${product.id})}">
                                                    <h2 th:text="${product.name}" class="two-line-ellipsis"></h2>
                                                </a>

                                                <!--RATING -->
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <!--RATING END-->
                                                <div class="product-price">
                                                    <span th:text="'&#8377' +${product.price}"></span>
                                                    <span class="old-price" th:text="'&#8377' +${product.price}"></span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <!-- ADD TO CART -->
                                                    <form method="post" th:action="@{/add-to-cart}">
                                                        <label for="ProductId"></label>
                                                        <label for="Quantity"></label>
                                                        <input type="number" name="ProductId" id="ProductId"
                                                               th:value="${product.id}" hidden="hidden">
                                                        <input type="number" name="Quantity" id="Quantity" value="1" hidden="hidden">
                                                        <button aria-label="Add To Cart" class="action-btn hover-up" >
                                                            <i class="fi-rs-shopping-bag-add"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- PRODUCT LOOP ENDS HERE-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--PRODUCTS ENDS HERE -->
        <!-- PAGINATION STARTS HERE -->
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                <!-- PAGINATION LOOP -->
                    <div class="col-lg-3"></div>
                    <div class="pagination-area mt-30 mb-50 col-lg-9">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item" th:each="page, iterStat : ${#numbers.sequence(0, ProductDetails.totalPages - 1)}"
                                    th:class="${page == ProductDetails.pageNo} ? 'page-item active' : 'page-item'">
                                    <a class="page-link"
                                       th:href="@{/user/category-filter/{id}(id=${ID},pageNo=${page},pageSize=${ProductDetails.pageSize})}"
                                       th:text="${page + 1}"></a>
                                </li>
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item">
                                    <a class="page-link" th:if="${ProductDetails.hasNext}"
                                       th:href="@{/user/category-filter/{id}(id=${ID},pageNo=${ProductDetails.totalPages - 1},pageSize=${ProductDetails.pageSize})}">
                                        <i class="material-icons md-chevron_right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                <!-- PAGINATION LOOP ENDS -->
                </div>
            </div>
        </section>
        <!-- PAGINATION ENDS HERE -->
        <!-- CATEGORY LIST -->
        <section class="popular-categories section-padding mt-15">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <div class="card-1" th:each=" category : ${CategoryList}">
                           <a>
                               <h5 th:text="${category.name}"></h5>
                           </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CATEGORY LIST ENDS HERE -->
        <!-- BRAND LIST -->
        <section class="section-padding">
            <div class="container pb-20">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <div class="brand-logo">
                            <img class="img-grey-hover" th:src="@{/assets/imgs/banner/brand-1.png}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BRAND LIST ENDS HERE -->
        <section class="featured section-padding">
            <div class="container pb-25">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img th:src="@{/assets/imgs/theme/icons/feature-1.png}" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img th:src="@{/assets/imgs/theme/icons/feature-2.png}" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img th:src="@{/assets/imgs/theme/icons/feature-3.png}" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img th:src="@{/assets/imgs/theme/icons/feature-4.png}" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img th:src="@{/assets/imgs/theme/icons/feature-5.png}" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img th:src="@{/assets/imgs/theme/icons/feature-6.png}" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div th:replace="~{Fragments/UserFragments.html::footer}"></div>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/shop.js}"></script>
    <script th:src="@{/assets/js/AjaxFile.js}"></script>
</body>
</html>