<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
<body>
    
    <div th:replace="~{Fragments/UserFragments.html::header}"> </div>
    <div th:replace="~{Fragments/UserFragments.html::mobile-view}"></div>
    <main class="main">
        <section class="mt-10 mb-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <!-- Edit Profile form -->
                    <div class="col-lg-6 login_wrap widget-taber-content bg-white  background-white border-radius-5">
                        <div class="padding_eight_all p-30">
                            <div class="heading_s1"><h3 class="mb-30">Update Password</h3></div>
                            <form th:method="put" th:action="@{/reset-password}"
                                  onsubmit="return checkPasswordMatch()">
                                <div class="form-group">
                                    <label for="username"></label>
                                    <input type="text" name="username" id="username" th:value="${username}"
                                           hidden="hidden">
                                </div>
                                <div class="form-group">
                                    <label for="password-org"></label>
                                    <input type="password" name="password" id="password-org" placeholder="Enter New Password">
                                </div>
                                <div class="form-group">
                                    <label for="confirm-password"></label>
                                    <input type="password" name="confirm-password" id="confirm-password"
                                           placeholder="Please re-enter the password">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up" name="edit">
                                        Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Edit Profile form ends -->
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </section>
        <section class="mt-10 mb-10">
            <div th:insert="~{Fragments/UserFragments.html::feature-list}"></div>
        </section>
    </main>
    <div th:replace="~{Fragments/UserFragments.html::footer}"></div>
    <!-- JS -->
    <script>
        function checkPasswordMatch() {
            let password = document.getElementById("password-org").value;
            let confirmPassword = document.getElementById("confirm-password").value;
            if (password.isEmpty() || confirmPassword.isEmpty()) {
                alert("Password cannot be empty!!");
                return false;
            }
            if (password !== confirmPassword) {
                alert("Your Password and Confirm Password do not match. Please try again.");
                return false;
            }
            return true;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/shop.js}"></script>
    <script th:src="@{/assets/js/AjaxFile.js}"></script>
</body>
</html>