<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
<body>
    
    <div th:replace="~{Fragments/UserFragments.html::header}"></div>
    <div th:replace="~{Fragments/UserFragments.html::mobile-view}"></div>
    <th:block th:replace="~{Fragments/UserFragments.html::referral-modal}"></th:block>

    <main class="main">
        <!--PRODUCTS STARTS-->
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container d-flex justify-content-center" th:unless="${ProductDetails} != null">
                <div class="d-flex flex-column">
                    <h3> Sorry 🥺, We didn't fount any product in this brand!!</h3>
                    <a class="btn btn-success-light hover-up" th:href="@{/user/home}">Back to Home</a>
                </div>
            </div>
            <div class="container" th:if="${ProductDetails} != null">
                <div class="row">
                    <!--SIDE FILTER STARTS-->
                    <div class="col-lg-3">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                            <ul class="categories">
                                <li>
                                    <label for="min-price">Minimum Price</label>
                                    <input type="number" name="min-price" id="min-price">
                                </li>
                                <li>
                                    <label for="max-price">Maximum Price</label>
                                    <input type="number" name="max-price" id="max-price">
                                </li>
                                <li>
                                    <button class="form-control" id="price-filter"><span>Filter</span><i class="material-icons md-sort"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--SIDE FILTER ENDS-->
                    <!--PRODUCT DIV STARTS-->
                    <div class="col-lg-9" >
                        <div class="tab-content wow fadeIn animated" id="myTabContent" >
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                 aria-labelledby="tab-one" >
                                <!-- PRODUCT LOOP -->
                                <div class="row product-grid-4" >
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6" th:each="product : ${ProductDetails.contents}">
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a th:href="@{/user/view-product/{id}(id=${product.id})}">
                                                        <span th:if="${#lists.isEmpty(product.imageIds)}">
                                                            <img th:src="@{/assets/admin-assets/imgs/items/No-Image.png}" alt="No Image">
                                                        </span>
                                                        <span th:unless="${#lists.isEmpty(product.imageIds)}">
                                                            <img class="default-img" th:src="@{/images/{imgId}(imgId=${product.imageIds[0]})}" alt="">
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" th:data-id="${product.id}"
                                                       th:onclick="addToWishList(this.getAttribute('data-id'))">
                                                        <i class="fi-rs-heart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a ></a>
                                                </div>
                                                <a th:href="@{/user/view-product/{id}(id=${product.id})}">
                                                    <h2 th:text="${product.name}" class="two-line-ellipsis"></h2>
                                                </a>
                                                <!--RATING -->
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <!--RATING END-->
                                                <div class="product-price">
                                                    <span th:text="'&#8377' +${product.discountPrice}"></span>
                                                    <span th:if="${product.price != product.discountPrice}" class="old-price" th:text="'&#8377' +${product.price}"></span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <!-- ADD TO CART -->
                                                    <button aria-label="Add To Cart"  th:data-id="${product.id}"
                                                            th:onclick="addToCart(this.getAttribute('data-id'))"
                                                            class="action-btn hover-up" ><i class="fi-rs-shopping-bag-add"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- PRODUCT LOOP ENDS HERE-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--PRODUCTS ENDS HERE -->
        <!-- PAGINATION STARTS HERE -->

        <!-- PAGINATION ENDS HERE -->
        <!-- CATEGORY LIST SECTION-->
        <section class="popular-categories section-padding mt-15">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <!-- CATEGORY NAME LOOP -->
                        <div class="card-1 ribb" th:each=" category : ${CategoryList}">
                            <a th:href="@{/user/category-filter/{categoryId}(categoryId = ${category.id})}">
                                <h5 th:text="${category.name}"></h5>
                            </a>
                        </div>
                        <!-- CATEGORY NAME LOOP ENDS HERE -->
                    </div>
                </div>
            </div>
        </section>
        <!-- BRANDS LIST SECTION  -->
        <section class="section-padding">
            <div class="container pb-20">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <div class="brand-logo" th:each="brand : ${BrandList}">
                            <a th:href="@{/user/brand-filter/{brandId}(brandId = ${brand.id})}">
                                <img class="img-grey-hover" th:src="@{/logo-images/{imgId}(imgId=${brand.logo})}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BRAND LIST ENDS HERE -->
        <th:block th:replace="~{Fragments/UserFragments.html::feature-list}"></th:block>
    </main>
    <div th:replace="~{Fragments/UserFragments.html::footer}"></div>
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/shop.js}"></script>
    <script th:src="@{/assets/js/AjaxFile.js}"></script>
    <script>
        function addToCart(productId) {
            alertify.set('notifier', 'position', 'top-center');
            $.ajax({
                type: 'GET',
                url: '/add-to-cart?ProductId=' + productId,
                success: function(data) {
                    if (data) alertify.success('Product successfully added to cart');
                    else alertify.error("Something went wrong!!")
                },
                error: function(error) {
                    alertify.error("Something went wrong!!!")
                    console.log('Error fetching user data'+error);
                }
            });
        }
        function addToWishList(productId) {
            alertify.set('notifier', 'position', 'top-center');
            $.ajax({
                type: 'POST',
                url: '/add-to-wishlist?ProductId=' + productId,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
                },
                success: function(data) {
                    if (data) alertify.success('Product successfully added to cart');
                    else alertify.error("Something went wrong!!")
                },
                error: function(error) {
                    alertify.error("Something went wrong!!!")
                    console.log('Error fetching user data'+error);
                }
            });
        }

        $("#price-filter").on("click",function (){
            alertify.set('notifier', 'position', 'top-center');
            let minPrice = $("#min-price").val()
            let maxPrice = $("#max-price").val()

            if (minPrice === "") alertify.error("Please include a minimum price");
            else if(minPrice <= 0 ) alertify.warning("Please provide a valid minimum price");
            if (maxPrice === "") alertify.error("Please include a maximum price");
            else if(maxPrice <= 0 ) alertify.warning("Please provide a valid maximum price");
            if (parseInt(minPrice) > parseInt(maxPrice)) alertify.warning("Please provide a valid minimum and maximum price");


            if (minPrice !== "" && maxPrice !== "" && minPrice > 0 && maxPrice > 0 && minPrice <= maxPrice) {
                $.ajax({
                    type: 'GET',
                    url: '/user/check/product-filer?minPrice=' + (minPrice) + '&maxPrice=' + (maxPrice),
                    success: function (response) {
                        if (response)
                            window.location.href = "/user/product-filer?minPrice=" + (minPrice) + "&maxPrice=" + (maxPrice)
                        else alertify.success("Sorry, No product found on this filter")
                    },
                    error: function (error) { console.error("Something went wrong!!") }
                })
            }
        })

    </script>
</body>
</html>