<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{Fragments/UserFragments.html::head-tag}"></th:block>
  <body>
  <th:block th:replace="~{Fragments/UserFragments.html::header}"></th:block>
  <th:block th:replace="~{Fragments/UserFragments.html::referral-modal}"></th:block>

  <main class="main">
      <div class="page-header breadcrumb-wrap">
        <div class="container">
          <div class="breadcrumb">
            <a th:href="@{/user/home}" rel="nofollow">Home</a>
            <span></span> Pages <span></span> OTP Verification
          </div>
        </div>
      </div>
      <section class="pt-150 pb-150">
        <div class="container">
          <div class="col-lg-10 m-auto">
            <div class="col-lg-5">
              <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                <div class="padding_eight_all bg-white">

                  <div class="heading_s1">
                    <h3 class="mb-30">OTP Verification</h3>
                  </div>
                  <form th:action="@{/verify-otp}" method="post" onsubmit="return validateForm()">
                    <div class="form-group"><p>OTP has been sent via Email to <span th:text="${username}"></span></p></div>
                    <div class="form-group"></div>
                    <div class="form-group">
                      <label for="username"></label>
                      <input type="text" name="username" id="username" th:value="${username}" hidden="hidden">
                    </div>
                    <div class="form-group">
                      <label for="otpField"></label>
                      <input type="text" name="otp" id="otpField" placeholder="Enter Verification Code"/>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-fill-out btn-block hover-up" name="submit">Verify</button>
                      <a class="btn btn-fill-out btn-block hover-up" th:href="@{/sent-otp}">Resent OTP</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <th:block th:replace="~{Fragments/UserFragments.html::footer}"></th:block>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/AjaxFile.js}"></script>
    <script>
      alertify.set('notifier', 'position', 'top-center')
      function validateForm() {
        let otpValue = document.getElementById("otpField").value;
        if (otpValue.trim() !== "") return true;
        alertify.error("OTP field cannot be empty");
        return false;
      }

      $('#resent-otp').on('click', function () {
        let button = $(this)
        button.prop('disabled', true)
        fetch('/resent-otp?username='+$('#username').val())
                .then(response => {
                  if (response.ok) alertify.success("New OTP sent to your email")
                  else alertify.error("Unable to send New OTP")
                  button.prop('disabled', false)
                })
                .catch(error => {
                  alertify.error("Unable to send New OTP")
                  button.prop('disabled', false)
                })
      })
    </script>
  </body>
</html>
